name: CI
on:
  push:
  schedule:
    - cron: '0 6 * * *'
jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: Install dependencies
        run: yarn

      - name: Set default version
        run: yarn version --no-git-tag-version --new-version 0.0.0

      - name: Install CLI
        run: npm install -g

      - name: Run
        run: 500wallpaper -o wallpaper
